<html>
   
   <head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->

   </head>

   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->


        <script>
            var testApp = angular.module('myApp', []);
                
            testApp.controller('testController' , function ($scope, $http) {
                //$scope.home = "This is the homepage";
                console.log('Inside controller');
                $scope.formData = {};

                // when landing on the page, get all todos and show them
                $http.get('/todos')
                    .success(function(data) {
                        $scope.todos = data;
                        console.log(data);
                    })
                    .error(function(data) {
                        console.log('Error: ' + data);
                    });

                // when submitting the add form, send the text to the node API
                $scope.createTodo = function() {
                    $http.post('/todos', $scope.formData)
                        .success(function(data) {
                            $scope.formData = {}; // clear the form so our user is ready to enter another
                            console.log($scope.todos);
                            $scope.todos.push(data);
                        })
                        .error(function(data) {
                            console.log('Error: ' + data);
                        });
                };

                // delete a todo after checking it
                $scope.deleteTodo = function(id, index) {
                    console.log(id);
                    $http.delete('/todos/' + id)
                        .success(function(data) {
                            $scope.todos.splice(index, 1);
                            console.log(data);
                        })
                        .error(function(data) {
                            console.log('Error: ' + data);
                        });
                };
                
            });

        </script>   
   <body>
        <div ng-app="myApp" ng-controller="testController">
            <!-- HEADER AND TODO COUNT -->
            <div class="jumbotron text-center">
                <h1>My Todo List <span class="label label-info">{{ todos.length }}</span></h1>
            </div>
            
            <!-- TODO LIST -->
            <div id="todo-list" class="row">
                <div class="col-sm-4 col-sm-offset-4">

                    <!-- LOOP OVER THE TODOS IN $scope.todos -->
                    <div class="checkbox" ng-repeat="todo in todos">
                        <label>
                            <input type="checkbox" ng-click="deleteTodo(todo._id, $index)"> {{ todo.text }} 
                        </label>
                    </div>

                </div>
            </div>

            <!-- FORM TO CREATE TODOS -->
            <div id="todo-form" class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <form>
                        <div class="form-group">

                            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                            <input type="text" class="form-control input-lg text-center" placeholder="I want to detect/capture dark matter" ng-model="formData.text">
                        </div>

                        <!-- createToDo() WILL CREATE NEW TODOS -->
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
                    </form>
                </div>
            </div>

        </div>

</body>
</html>